doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= 'time estimation'
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  body

    header.text-center
      h1 time estimation

    main.container
      .row
        .col-xs-12

          form
            .row
              .col-xs-2
                h2 Task 1
              .col-xs-2
                .form-group.form-group-lg
                  label(for='exampleInputEmail1') Optimistic
                  input.form-control.te.te-o(type='number' id='exampleInputEmail1' placeholder='')
              .col-xs-2
                .form-group.form-group-lg
                  label(for='exampleInputEmail1') Neutral
                  input.form-control.te.te-n(type='number' id='exampleInputEmail1' placeholder='')
              .col-xs-2
                .form-group.form-group-lg
                  label(for='exampleInputEmail1') Pessimistic
                  input.form-control.te.te-p(type='number' id='exampleInputEmail1' placeholder='')


              .col-xs-2
                h3 Result
                .result


    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    script(src='js/main.min.js')
