doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= 'time estimation'
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  body

    header.text-center
      h1 time estimation

    main.container
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2

          form.jumbotron
            .row
              .col-xs-8.col-xs-offset-2.col-sm-4
                .form-group.form-group-lg
                  label.hidden(for='optimistic') Optimistic
                  input.form-control.te.te-o(type='number' id='optimistic' min='0' placeholder='Optimistic')
              .col-xs-8.col-xs-offset-2.col-sm-4
                .form-group.form-group-lg
                  label.hidden(for='neutral') Neutral
                  input.form-control.te.te-n(type='number' id='neutral' min='0' placeholder='Neutral')
              .col-xs-8.col-xs-offset-2.col-sm-4
                .form-group.form-group-lg
                  label.hidden(for='pessimistic') Pessimistic
                  input.form-control.te.te-p(type='number' id='pessimistic' min='0' placeholder='Pessimistic')

            .row
              .col-xs-6.text-right
                h3 Result =
              .col-xs-6
                .result.h3.text-primary


    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    script(src='js/main.min.js')
